.bottomBar{
    height: auto;
    width:100%;
    background-color: black;
    padding: 7.32vw;
    margin: 1.25rem;
    width: 100%;
    max-width: 100%;
  }
  .bottomBarInner{
    text-align:center;
    vertical-align:text-top;
  }
  .bottomBarText{
    color:rgba(255,255,255,0.8);
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    margin-top:20px;
    line-height: 2.4;
  }
  .bottomBarTextH3{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color:white;
  }
  .bottomSideSpace{
    margin-right:70px;
  }
  
  .bottomBarText .bottomEmail{
   text-decoration:none;
   color:rgba(255, 255, 255, 0.8);
  }
  .bottomBarText .bottomEmail:hover{
    color:rgb(255, 255, 255);
  }
  .distanceIcon{
    padding-right:4px;
  }
  .bottomLast{
    margin-top:70px;
    border-top:1px solid #1a1a1a;
  }
  .copyright{
    font-size:14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:rgba(255, 255, 255, 0.8);
    margin: 30px auto 5px auto;
  
  }
  